.cat-div {
  min-height: 650px;
}

.cat-table {
  white-space: nowrap;
  overflow: hidden;
}

.title {
  color: #f7f7f7;
}

.thumbnail {
  max-width: 125px;
  min-width: 125px;
  height: auto;
}

.img-col {
  width: 1%;
}

.key-col {
  /* width: 10%; */
}

.bonus-col {
  /* width: 12%; */
}

.bonus-row {
  padding-left: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
