.img-logo {
  max-width: 150px;
  min-width: 125px;
  height: auto;
}

.footer-logo {
  max-width: 15%;
  height: auto;
}

.bg-banner {
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-image: url('./images/space_background.jpg');
}

.bg-about {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-about-box {
  background-color: #00111a;
  color: #f2f2f2;
}

.bg-farming {
  background-image: url('./images/farming.jpg');
}

.bg-explore {
  background-image: url('./images/exploration.jpg');
}

.bg-trade {
  background-image: url('./images/trade.jpg');
}

.bg-wealth {
  background-image: url('./images/wealth.jpg');
}

.bg-about-img {
  background-image: url('./images/about.jpg');
}

.bgc {
  background-color: #151515;
}

.video {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  min-width: 50%;
  min-height: 50%;
  width: auto;
  height: auto;
  z-index:0;
}

.main-title {
  font-family: xolonium;
}

.overlay {
  position: absolute;
  z-index:1;
  font-family: xolonium;
}

.header-title {
  color: #f7f7f7;
}

.text-outline {
  text-shadow:
  -1px -1px 0 #00000080,
  1px -1px 0 #00000080,
  -1px 1px 0 #00000080,
  1px 1px 0 #00000080;
}

.site-header {
  background-color: rgba(0, 0, 0, 0.8);
  color: #f7f7f7;
}

.App-header {
  background-color: ##0A0A0A;
}

.navbar-nav .nav-item .nav-link {
  color: #d6d6d6;
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #f7f7f7;
}

.menu-button {
  color: #d6d6d6;
}

@font-face {
  font-family: xolonium;
  src: url('./fonts/Xolonium.otf');
}

.overflow-hidden { overflow: hidden; }
